nav {
  position: fixed;
  top:0px;
  z-index: +4;
}

#savedHeader{
  margin-top: 60px;
  padding-top:20px;
  padding-bottom:20px;
  color:#eb5871;
  background:rgba(255, 255, 255, 0.603);
  /* color: rgba(204, 204, 204, 0.774); */
}