#wrapper {
    min-height: 100vh;
    background-size:cover;
    background-position:center -50px;
    background-image: url("./resizedBackground.png");
}
#introPage {
    padding-top:170px;
    padding-left:250px;
    padding-right:250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:1200px 800px;
    background-image: url("./backgroundWhite.png");
    padding-bottom:300px;
}

/* body {
    background-image: url(./background.png);
} */
