#wrapper {
    min-height: 100vh;
    /* background-size:cover; */
    background-repeat: no-repeat;
    background-size:100% auto;
    background-position:center bottom;
    background-image: url("./resizedBackground.png");
    opacity: 0.9;
}
#introPage {
    padding-top:170px;
    padding-left:250px;
    padding-right:250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:1200px 800px;
    background-image: url("./backgroundWhite1.png");
    padding-bottom:300px;
}

/* body {
    background-image: url(./background.png);
} */