/* #mainContainer {
    height: 100vh;
    background-color:rgba(190, 190, 190, 0.288);
} */
#sideNavbar {
    height:100vh;
    background-image: url("./mountBack.jpg");
}
#mainContainer {
    margin-top: 65px;
    overflow: scroll;
    background-image:url('./paperBackground.jpg')
}
/* #side {
    height:100vh;
    background-color: rgba(255, 255, 255, 0);
} */